.btn
{
    background-image: linear-gradient(90deg , #C381DB , #4E92F9);
    -webkit-background-clip: text;
    color: transparent;
    box-shadow: 0px 7px 20px 0px #3145FF21;
}
li
{
    cursor: pointer;
}
li:hover
{
    color: gray;
}
.main
{
    background: linear-gradient(90deg , #DCCEDE , white);
}
.nav
{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 14.06%, rgba(255, 255, 255, 0.933) 85.42%, rgba(255, 255, 255, 0) 100%);
}
.textColor
{
    background-image: linear-gradient(90deg , #C381DB , #4E92F9);
    -webkit-background-clip: text;
    color: transparent;
}
.blurs
{
    backdrop-filter: blur(10px);
    border: 2px white solid;
}
.mains
{
    /* bg-[url('/src/assets/images/bg-all.svg')]
     */
     background-image: url("/src/assets/images/bg-all.svg");
     background-size: 100%;
     background-position-y: 100px;
     /* background-position-x: 0px; */
}
.maps
{
    background-image: url("/src/assets/images/background.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 60% 100%;
}